<div *ngIf="activeGame">
  <div *ngIf="currentOption">
    <h2>{{currentOption.name}}</h2>
    <ul>
      <li *ngFor="let cat of currentOption.categories">{{cat.title}}</li>
    </ul>
    <img src="{{currentOption.image_url}}" alt="profile picture of {{currentOption.name}}" width="25%" height="25%">
    <br>
    <button (click)="onSelect(true)">Yes</button>
    <button (click)="onSelect(false)">No</button>
  </div>
</div>

<!-- <button type="button" data-toggle="modal" data-target=".chosen-modal">Click</button> -->
<a  data-toggle="modal" data-target=".chosen-modal" #launchChosen
    onMouseOver="this.style.cursor='pointer'" (click)="chosenOption = currentOption"></a>

<div class="modal fade chosen-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-chosen></app-chosen>
    </div>
  </div>
</div>
